@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.partnershipidentificationfrontend.config.AppConfig
@import uk.gov.hmrc.partnershipidentificationfrontend.controllers.{routes => Routes}
@import uk.gov.hmrc.partnershipidentificationfrontend.models.{PageConfig, PartnershipInformation}
@import uk.gov.hmrc.partnershipidentificationfrontend.views.html.templates.govuk_template


@this(layout: govuk_template,
        govUkHeader: GovukHeader,
        govukFieldset: GovukFieldset,
        govukButton: GovukButton,
        govukSummaryList: GovukSummaryList,
        formWithCSRF: FormWithCSRF)

@(journeyId: String, pageConfig: PageConfig, formAction: Call, partnershipInformation: PartnershipInformation)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@layout(pageConfig, title = messages("check-your-answers.title")) {

    @govukFieldset(Fieldset(
        legend = Some(Legend(
            content = Text(Messages("check-your-answers.heading")),
            classes = "govuk-fieldset__legend--xl",
            isPageHeading = true
        )),
        html = html
    ))
}
@html = {
@govukSummaryList(SummaryList(
    classes = "govuk-!-margin-bottom-9",
    rows = Seq() ++ partnershipInformation.optSautr.map {
        sautr =>
            SummaryListRow(
                key = Key(content = Text(messages("check-your-answers.sautr"))),
                value = Value(content = Text(sautr)),
                actions = Some(Actions(items = Seq(
                    ActionItem(
                        href = Routes.CaptureSautrController.show(journeyId).url,
                        content = Text(messages("base.change")),
                        visuallyHiddenText = Some(messages("check-your-answers.sautr"))
                    )
                )))
            )
    } ++ Seq(
        SummaryListRow(
            key = Key(content = Text(messages("check-your-answers.postcode"))),
            value = Value(content = Text(partnershipInformation.postcode)),
            actions = Some(Actions(items = Seq(
                ActionItem(
                    href = Routes.CapturePostCodeController.show(journeyId).url,
                    content = Text(messages("base.change")),
                    visuallyHiddenText = Some(messages("check-your-answers.postcode"))
                )
            )))
        )
    )
)
)

@formWithCSRF(action = formAction) {
    @govukButton(Button(
        attributes = Map("id" -> "confirm-and-continue"),
        classes = "govuk-!-margin-right-1",
        content = Text(messages("base.confirm_and_continue"))
    ))
}

}