@import uk.gov.hmrc.partnershipidentificationfrontend.views.html.templates.govuk_template
@import uk.gov.hmrc.partnershipidentificationfrontend.config.AppConfig
@import uk.gov.hmrc.partnershipidentificationfrontend.models.PageConfig

@this(layout: govuk_template)

@(pageConfig: PageConfig, pageTitle: String, heading: String, message: String)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)
@layout(pageConfig, messages(pageTitle)) {
    <h1 class="govuk-heading-xl">@{Text(heading).asHtml}</h1>
    <p class="govuk-body">@{Text(message).asHtml}</p>
}
